body {
    background: url(../assets/img/inicioFondo.png) no-repeat center center fixed;
}

img {
    margin-bottom: 100px;
}

.inputLogin {
    width: 265px;
    height: 25px;
    display: flex;
    padding: 9px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--Secondary-100, #5F6AFF);
    background: var(--Neutral-White, #FFF);
    box-shadow: 0px 0px 0px 3px rgba(102, 16, 242, 0.15);


}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.happyflow{
    margin-top: 65px;
}

.input1 .input2 {
    align-items: center;
    width: 100%;
    color: var(--Neutral-Black-80, #333);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.input1{
    display: flex;
    flex-direction: row;
    position: relative;
}

.input2{
    margin-bottom: -116px;
}

.input1 .user-icon {
    position: absolute;
    left: 270px;
    top: 50%;
    transform: translateY(-50%);
  }

  .input2 .eye-icon {
    position: relative;
    left: 127px;
    bottom: 29px;
  }

.passForgot {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin-top: 10px;
    color: #000;
    text-align: right;
    /* Body/P1 */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

.inicio{
    display: flex;
    width: 300px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    background: var(--Secondary-100, #5F6AFF);
    color: var(--Default-White, #FFF);
    /* Captions/Btn */
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.25px;
    text-transform: uppercase;

}

.sincuenta {
    text-align: end;
    margin-top: 90px;
    color: #000;
    text-align: right;
    /* Body/P1 */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}


.registro{
    display: flex;
    width: 300px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    background: var(--Primary-100, #FF9F1C);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}