/* NavBar.css */


.navBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    border-top: 2px solid var(--Secondary-100, #5F6AFF);
    background: var(--Neutral-White, #FFF);
    box-shadow: 0px -4px 11px 0px rgba(0, 0, 0, 0.25);
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--Secondary-100, #5F6AFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

img {
    margin-bottom: 10px;
}

.seleccion {
    background: var(--Primary-100, #FF9F1C);
    height: 10px;
    width: 100px;
    margin-bottom: 12px;
}